<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Registration-Login</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'healthDirectory/css/bootstrap.min.css' %}" />
<!--Online links for bootstrap-->  


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!--scripts-->

<script>
//register
function senddata(){
	alert("hiiiiiii");
	$.ajax({
	url : "/healthDirectory/updateprofile/", // the endpoint
	type : "POST", // http method
	data : {ser_name:$("#sername").val(),
	ser_spl:$("#serspl").val(),
	ser_phNum:$("#phnum").val(),
	ser_location:$("#serloc").val(),
	ser_addr:$("#seraddr").val(),
	ser_email:$("#seremail").val(),

	}, // data sent with the post request
	// handle a successful response
	success : function() {
	 // log the console.log("success"); // another sanity check
	<!--alert("Regristration is Sucessfull"); -->
	},
	// handle a non-successful response
	error : function(xhr,errmsg,err) {
		alert("falilure");
	$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
	" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
	console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
	}
	});
};


</script>

<!--navigation-->
<nav class="navbar navbar-default">
	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a class="navbar-brand" href="#">
		<span class="glyphicon glyphicon-home"></span>
		</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		<li><a href="#">Home <span class="sr-only">(current)</span></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li class="active"><a href="#">Register</a></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
	</div>
<!-- /.container-fluid -->
</nav>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<form action="updateprofile/" method="post">{% csrf_token %}
					<legend>Edit your profile</legend>
					{% for sers in ser %}
					<label for="name">Name</label>
					<input type="text"  class="form-control" name="ser_name" id="sername" placeholder="{{ sers.ser_name }}"><br>
					<label for="specs">Specialisations</label>
					<input type="text" class="form-control" id="serspl" name="ser_spl" placeholder="{{ sers.ser_spl }}"><br>
					<label for="location">Location</label>
					<input type="text" class="form-control" id="serloc" name="ser_loc"placeholder="{{ sers.ser_location }}"><br>
					<label for="email">Email</label>
					<input type="text"  class="form-control" name="ser_email" id="seremail" placeholder=" {{ sers.ser_email }}" >
					<label for="password">Password</label>
					<input type="password" class="form-control" name="ser_psword" id="serpswrd" placeholder="Enter Password">
					<label for="confirm_password">Confirm Password</label>
					<input type="password" class="form-control" name="ser_cpsword"id="confirmpwd" placeholder="Confirm Password">
					<label for="phone">Phone No</label>
					<input class="form-control" type="tel" name="ser_phNum" id="phnum" placeholder="{{ sers.ser_phNum }}">
					<label for="address">Address</label>
					<input class="form-control" type="text" name="ser_addr" id="seraddr" placeholder="{{ sers.ser_addr }}">
					{% endfor %}
					<button type="submit" class="btn btn-success ">Update Profile</button> 
				</form>
			</div>   
		</div>
	</div>
<hr>

<footer>
<p>&copy; 100years 2015</p>
</footer>
</div>
<!-- /container -->


<!--bootstrap part-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>