<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
       

</head>
<body>

    

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/healthDirectory/regislogin">Register</a></li>
                 <li><a href="/healthDirectory/regislogin">Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="row">
<div class="col-md-6 col-md-offset-3">
            <div class="well-lg" <span="" style="font-size:40px;color:black;text-align: center">100Years
        </div>
            <div class="well-lg">

                <form class="form-horizontal" action="searchresults/" autocomplete="on" method="POST">
                {%csrf_token%}
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" id="searchvalue" name="searchvalue" class="form-control input-lg" placeholder="Search by Hospital,Doctor or Location">
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" name="search" type="submit" value="submit">
                            <i class="glyphicon glyphicon-search"></i> Search
                        </button>

                    </span>
                        </div>
                    </div>
                </form>




            
        </div>
    </div>
    </div>
  

    <!--<footer>
        <p>&copy; Company 2015</p>
    </footer>-->

<!-- /container -->


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>