<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Welcome <span class="sr-only">(current)</span></a></li>
            </ul>

            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#">Register</a></li>
            </ul>-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-2">

                <h4 class="media-heading">Profile</h4>

                <div class="media">
                    <div class="media-left">
                        <!-- <a href="#">
                            <img class="media-object" src="http://placehold.it/120x120">
                        </a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <legend>Details</legend>

                <div class="list-group">
					{% for sers in ser %}
                    <span class="list-group-item">Name           : {{ sers.ser_name }}</span>
                    <span class="list-group-item">Specialisation : {{ sers.ser_spl }}</span>
                    <span class="list-group-item">Location       : {{ sers.ser_location }}</span>
                    <span class="list-group-item">Email          : {{ sers.ser_email }}</span>
                    <span class="list-group-item">Contact No     : {{ sers.ser_phNum }}</span>
                    <span class="list-group-item">Address        : {{ sers.ser_addr }}</span>
					{% endfor %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2015</p>
    </footer>
</div>
<!-- /container -->


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>