
#registration page

<html>
<head>
</head>
<body>
<p>Registration Form</p>
<form method="" action="">
Name:<input type="text" name="service name" id="sername"><br>
Specializations:<input type="text" name="service specialization" id="serspl"><br>
Email:<input type="email" name="seremail" id="seremail"><br>
Password:<input type="password" name="serpswrd" id="serpswrd"><br>
Contact Number:<input type="tel" name="phnum" id="phnum"><br>
Location : <input type="text" name="serloc" id="serloc"><br>
Address : <input type="text" name="seraddr" id="seraddr"><br>
<input type="submit" value="Submit" id="onclick">
<form>
</body>
</html>